<div ng-include="'partials/header'"></div>
<div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">{{message}}</div>
<div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
<p>{{infomation}}</p>

<div id="wrapper">
  <div id="columns">
    <div class="pin" ng-repeat="image in images">
      <a href="/{{image.id}}" ><img ng-src="{{image.src}}"></a>
      <p>a</a>
    </div>
  </div>
</div>

<div ng-include="'partials/footer'"></div>